@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Didact Gothic', sans-serif;
	background-color: #fffff9;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.head {
	font-family: 'Alfa Slab One', cursive;
	font-size: 2.2em;
	color: #363537;
}

.quote {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.3em;
}

.main-heading {
  max-width: 100%;
  margin: 0 -2rem;
  background: #ed7d3a;
  padding-left: 1.25rem;
  border-left: 1rem solid #ed7d3a;
  border-right: 1rem solid #ed7d3a;
  border-bottom: thick solid #363537;
  border-top: thick solid #363537;
  color: #363537;
  font-size: 1.125rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ed7d3a;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 15px 5px 0px;
    text-decoration: none;
}

nav li a:hover {
    color: rgba(255, 255, 249, 0.5);
}

.active {
	font-weight: bolder;
	color: #363537;
}

hr {
	background-color: #363537;
	clear: both;
}

.footer {
	font-size: 0.75em;
	clear: both;
	margin-left: 1%;
}

.footer p {
	padding-top: 5%;
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
	margin-top: 1em;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
	border-bottom: 1px solid #ddd;
}

.game-details {
	border: 1px solid #ddd;
	width: 90%;
	margin: 1% auto;
	padding: 1rem;
	float: left;
}

.main-content a {
	color: #ed7d3a;
	font-size: 1.2em;
}

